include MANIFEST.in
include benchmark.py
include test.py
include pyspacewar.pyw
include *.txt
include src/pyspacewar/VERSION.txt
include src/pyspacewar/images/*
include src/pyspacewar/icons/*
include src/pyspacewar/sounds/*
include src/pyspacewar/music/*
include src/pyspacewar/tests/*.py
